<nav>
    <a class ="<%= currentPage = 'Post List' ? 'active' : '' %>" href="/">Post List</a>
    <a class = "<%= currentPage = 'Create a New Post' ? 'active' : '' %>" href="/new">Create a New Post</a>
</nav>