<nav class="navbar">
    <!-- Wanted to have this link to the post list with the proper sort option, couldn't figure out how to get it to work. -->
    <a class ="<%= currentPage === 'Post List' ? 'active' : 'navlink' %>" href="/">Post List</a>
    <a class = "<%= currentPage === 'Create a New Post' ? 'active' : 'navlink' %>" href="/new">Create a New Post</a>
</nav>